{% extends "base.html" %}

{% block content %}
    <ul>
        <li><b>ID:</b> {{ item.id }}</li>
        <li><b>Name:</b> {{ item.name }}</li>
        <li><b>Weight:</b> {{ item.weight }}</li>
        <li><b>Price:</b> ${{ item.price }}</li>
        <li><b>Description:</b> {{ item.description }}</li>
        <li><b>Quantity:</b> {{ item.quantity }}</li>
        <li><b>Item Type:</b> {{ item.itemtype.name }}</li>
    </ul>
    <a href="{% url 'inventory:item_list' %}">Back</a>
    
    {% if user.is_superuser or user.is_staff %}
        <td><a href="{% url 'inventory:item_update' item.id %}">Update</a></td>
        <td><a href="{% url 'inventory:item_delete' item.id %}">Delete</a></td>
    {% endif %}
{% endblock content%}