{% extends "base.html" %}

{% block content %}
<ul>
    <li><b>ID:</b> {{ item.id }}</li>
    <li><b>Name:</b> {{ item.name }}</li>
    <li><b>Weight:</b> {{ item.weight }}</li>
    <li><b>Price:</b> ${{ item.price }}</li>
    <li><b>Description:</b> {{ item.description }}</li>
    <li><b>Quantity:</b> {{ item.quantity }}</li>
    <li><b>User ID:</b> {{ item.user.id }}</li>
    <li><b>Item Type:</b> {{ item.itemtype.name }}</li>
</ul>
<a href="{% url 'inventory:list' %}">Back</a>
{% endblock content%}