{% extends "base.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Item Type</td>
            <td>Stock</td>
            <td>Price</td>
            <td colspan="3">Options</td>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.itemtype.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.price }}</td>
            <td><a href="{% url 'inventory:detail' item.id %}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content%}